<div class="app-layout">
  <mat-toolbar class="app-layout__header">
    <a class="app-layout__brand" routerLink="/">{{ 'app.name' | t }}</a>

    <div class="app-layout__account">
      <app-locale-switcher />
      <button matButton type="button" [matMenuTriggerFor]="account" [disabled]="signingOut()">
        <i matButtonIcon class="fa-solid fa-circle-user" aria-hidden="true"></i>
        <bdi dir="auto">{{ displayName() }}</bdi>
      </button>
      <mat-menu #account="matMenu" xPosition="before">
        <button mat-menu-item type="button" (click)="signOut()">
          <i class="fa-solid fa-right-from-bracket app-layout__menu-icon" aria-hidden="true"></i>
          <span>{{ 'auth.signOut' | t }}</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <nav class="app-layout__nav" [attr.aria-label]="'nav.label' | t">
    <mat-nav-list>
      @for (section of sections; track section.path) {
        <a
          mat-list-item
          routerLinkActive
          #active="routerLinkActive"
          [routerLink]="['/', section.path]"
          [activated]="active.isActive"
          [attr.aria-current]="active.isActive ? 'page' : null"
        >
          <i matListItemIcon [class]="section.icon" aria-hidden="true"></i>
          <span matListItemTitle>{{ section.labelKey | t }}</span>
        </a>
      }
    </mat-nav-list>
  </nav>

  <main id="main" class="app-layout__content">
    <router-outlet />
  </main>
</div>
