$content-max: 100rem;

$card-max: 34rem;

$table-min: 40rem;

$dialog-sm: 28rem;
$dialog-md: 40rem;
$dialog-lg: 56rem;

$screen-sm: 36rem;
$screen-md: 48rem;
$screen-lg: 64rem;
$screen-xl: 80rem;

@mixin from($width) {
  @media (min-width: $width) {
    @content;
  }
}
