:host {
  display: block;
}

.password-input {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input__toggle {
  position: absolute;
  inset-inline-end: var(--app-space-1);
}
