{% extends "admin/base_site.html" %}
{% load static dbs_admin %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static 'dbs/panel.css' %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  &rsaquo; <a href="{% dbs_dashboard_url %}">DBS</a>
  {% block dbs_breadcrumb %}&rsaquo; {{ title }}{% endblock %}
</div>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<nav class="dbs-nav">
  <a href="{% dbs_dashboard_url %}">Dashboard</a>
  <a href="{% url 'admin:dbs_backup_create' %}">Take a backup</a>
  <a href="{% url 'admin:dbs_backup_restore' %}">Restore</a>
  <a href="{% url 'admin:dbs_backuptarget_changelist' %}">SFTP targets</a>
  <a href="{% url 'admin:dbs_security' %}">Security</a>
  <a href="{% url 'admin:dbs_wiki_index' %}">Wiki</a>
</nav>
{% block dbs_content %}{% endblock %}
{% endblock %}

{% block footer %}{{ block.super }}
<script id="dbs-guard" src="{% static 'dbs/guard.js' %}"
        data-url="{% url 'admin:dbs_guard' %}"
        data-login="{% url 'admin:login' %}"></script>
{% endblock %}
